---
# tasks file for common
- name: Ensure docker-compose & docker package is present
  ansible.builtin.package:
    name:
    - docker.io
    - docker-compose-v2
    state: present
    update_cache: true
  become: yes

- name: Ensure docker service is started
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes
  become: yes

- name: Ensure add current user to docker group
  ansible.builtin.user:
    name: ubuntu
    groups: docker
  become: yes
