---
# tasks file for ec2
- name: Ensure {{ keypair_name }} keypair is created
  amazon.aws.ec2_key:
    name: "{{ keypair_name }}"
    key_type: ed25519
  no_log: true
  register: ec2_key_result

- name: Ensure private key of {{ keypair_name }} keypair saved on localhost
  ansible.builtin.copy:
    content: "{{ ec2_key_result.key.private_key }}"
    dest: "~/.ssh/{{ keypair_name }}"
    mode: 0600
  when: ec2_key_result.changed

- name: Ensure {{ tomcat_sg }} security group is created
  amazon.aws.ec2_security_group:
    name: "{{ tomcat_sg }}"
    description: Allow Tomcat ports
    vpc_id: "{{ vpc_name }}"
    region: "{{ region_name }}"
    rules:
      - proto: tcp
        ports:
          - 8080
          - 8443
        cidr_ip: 0.0.0.0/0
        rule_desc: Allow all on ports 8080 and 8443

- name: Ensure {{ build_instance_name }} instance is created
  amazon.aws.ec2_instance:
    name: "{{ build_instance_name }}"
    key_name: "{{ keypair_name }}"
    instance_type: "{{ instance_type_name }}"
    image_id: "{{ image_id }}"
    region: "{{ region_name }}"
    security_groups: "{{ default_sg }}"
    vpc_subnet_id: "{{ vpc_subnet }}"
    state: started
    wait: yes
    tags:
      Environment: "{{ environment_name }}"
  register: build_instance_info

- name: Print {{ build_instance_name }} Public IP address
  ansible.builtin.debug:
    var: build_instance_info.instances[0].public_ip_address

- name: Ensure {{ build_instance_name }} IP is added in ~/.ssh/known_hosts
  ansible.builtin.command:
    cmd: "ssh-keyscan -t ed25519 {{ build_instance_info.instances[0].public_ip_address }} ~/.ssh/known_hosts"

- name: Ensure {{ build_instance_name }} IP is added in-memory inventory
  ansible.builtin.add_host:
    name: "{{ build_instance_info.instances[0].public_ip_address }}"
    groups:
      - "{{ build_inventory_name }}"

- name: Ensure {{ deploy_instance_name }} instance is created
  amazon.aws.ec2_instance:
    name: "{{ deploy_instance_name }}"
    key_name: "{{ keypair_name }}"
    instance_type: "{{ instance_type_name }}"
    image_id: "{{ image_id }}"
    region: "{{ region_name }}"
    security_groups:
      - "{{ default_sg }}"
      - "{{ tomcat_sg }}"
    vpc_subnet_id: "{{ vpc_subnet }}"
    state: started
    wait: yes
    tags:
      Environment: "{{ environment_name }}"
  register: deploy_instance_info

- name: Print Public {{ deploy_server_name }} IP address
  debug:
    var: deploy_instance_info.instances[0].public_ip_address

- name: Ensure {{ deploy_instance_name }} IP is added in ~/.ssh/known_hosts
  ansible.builtin.command:
    cmd: "ssh-keyscan -t ed25519 {{ deploy_instance_info.instances[0].public_ip_address }} ~/.ssh/known_hosts"

- name: Ensure {{ deploy_instance_name }} IP is added in-memory inventory
  add_host:
    name: "{{ deploy_instance_info.instances[0].public_ip_address }}"
    groups:
      - "{{ deploy_inventory_name }}"
