---
# tasks file for ec2
- name: Ensure creating security group for the instance
  ec2_group:
    name: "{{ security_group }}"
    description: Test build/deploy group
    region: "{{ region }}"
    rules:
      - proto: tcp
        from_port: 22
        to_port: 22
        cidr_ip: 0.0.0.0/0
      - proto: tcp
        from_port: 80
        to_port: 80
        cidr_ip: 0.0.0.0/0
      - proto: tcp
        from_port: 8080
        to_port: 8080
        cidr_ip: 0.0.0.0/0
  rules_egress:
    - proto: all
      cidr_ip: 0.0.0.0/0
- name: Ensure creating of EC2 VM
  ec2_instance:
    security_group: "{{ security_group }}"
    name: "{{ instance_name }}"
    key_name: "{{ keypair }}"
    instance_type: "{{ instance_type}}"
    image_id: "{{ image }}"
    region: "{{ region }}"
    wait_timeout: 3
